@page "{id:Guid?}"
@model ReferralRockWebApp.Pages.Members.ReferralModel

@{
    ViewData["Title"] = "Referral";
}

<h1>Referrals for member</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Referrals[0].id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referrals[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referrals[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referrals[0].email)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Referrals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <a asp-page="/Edit" asp-route-id="@item.id">Update</a>
                </td>
                <td>
                    <a asp-page="/Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <input hidden type="text" asp-for="memberId" value=@Model.memberId />
    <a asp-page="/Create" asp-route-id="@Model.memberId">Add New Referral</a>
</div>

<div>
    <a asp-page="Index">Back to Member List</a>
</div>

